@import "../../sass/colors";
@import "../../sass/fonts";

.header {
  @include fontFamilyPTSans;
  width: 100%;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;

  &__hamburger-and-button-container {
    display: flex;
    gap: 3rem;
    align-items: center;
  }

  &__hillsLogo-and-version-container {
    position: relative;
  }

  &__version {
    @include fontFamilyWaitingForTheSunrise;
    position: absolute;
    top: -1rem;
    font-size: 2.5rem;
    font-weight: bold;
  }

  &__hillsLogo {
    filter: invert(1);
    width: 11rem;
  }

  &__bli-medlem-btn {
    @include fontFamilyPTSans;
    transition: 0.1s ease-in-out;

    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    width: 10rem;
    border: none;
    background-color: $green;
    color: $white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 3px;
    height: 2.5rem;

    &:hover {
      cursor: pointer;
      transform: scale(1.03);
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
      background-color: rgb(164, 204, 78);
    }
  }
}

////////////////////////////////////
//        | MEDIA QUERY |         //
///////////////////////////////////

/*✘| MEDIUM / TABLET |✘*/
@media only screen and (min-width: 501px) and (max-width: 750px) {
  .header {
    &__bli-medlem-btn {
      display: none;
    }
  }
}

/*✘| SMALL / MOBILE |✘*/
@media only screen and (min-width: 0px) and (max-width: 500px) {
  .header {
    &__bli-medlem-btn {
      display: none;
    }
    &__hillsLogo {
      width: 5rem;
    }
    &__version {
      top: -0.5rem;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}
